* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  background: #b4b0b0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  overflow: hidden;
}

.container {
  margin: 100px auto;
  padding: 20px;
  max-width: 1200px;
}

.details {
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.form {
  float: left;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  letter-spacing: 5px;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

.navbar a:hover {
  color: rgb(255, 0, 0);
  text-decoration: underline;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #e11c1c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #d3693b;
}

h4 {
  margin-top: 20px;
}

h5 {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .details, .form {
      width: 100%;
      float: none;
  }
}
